.icon {
  z-index: 2;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: 0.4s ease color;
  z-index: 99999999999999;
}

.icon:hover {
  color: #7f7f7f;
}
